/*Aligning the page loader to the center of the screen*/
  .loader {
    background-color: transparent;
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  /*Styling each individual dot in the loader and adding 
  animations to each of them*/
  .dot1,
  .dot2,
  .dot3,
  .dot4 {
    background-color: black;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.25;
  }
  .dot1 {
    left: 25px;
    animation: fade 1s ease-in-out alternate infinite;
  }

  .dot2 {
    left: 50px;
    animation: fade 1s .25s ease-in-out alternate infinite;
  }
  .dot3 {
    left: 75px;
    animation: fade 1s .5s ease-in-out alternate infinite;
  }
  .dot4 {
    left: 100px;
    animation: fade 1s .75s ease-in-out alternate infinite;
  }
  @keyframes fade {
    0% {
      transform: scale(1);
      opacity: 0.25;
    }
    100% {
      transform: scale(2);
      opacity: 1;
    }
  }